<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Número 1</ion-label>
    <ion-input type="number" [(ngModel)]="calculadora.numero1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número 2</ion-label>
    <ion-input type="number" [(ngModel)]="calculadora.numero2"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="calcular('+')"> + </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="calcular('-')"> - </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="calcular('*')"> * </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="calcular('/')"> / </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label position="floating">Resposta</ion-label>
    <ion-input type="number" [(ngModel)]="resp"></ion-input>
  </ion-item>
</ion-content>
